{% extends 'base.html' %}
{% block content %}

<a class="btn btnz ms-2 mt-2" href="/">  <i class="fa fa-arrow-left" aria-hidden="true"></i> Nyumbani</a>
<hr>
<div class="container">
  <div class="row justify-content-around">
    {% for article in articles %}
    <div class="col-md-4 my-2 article-col pb-2">
      <div  class="img">
        <img src="{{article.urlToImage}}" alt="{{article.title}}" width="280px" height="100%">
      </div>
      <p>
        <span>
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </span>
        {{article.publishedAt}}
      </p>
      <h4>
        {{article.title}}
      </h4>
      <p>
         <small>
          {{article.description}}
          </small>
        
      </p>
      <hr>
        <span class="float-start">
          <i class="fa fa-user" aria-hidden="true"></i>
          {{article.author}}
        </span> 
      <span class="float-end">
        <a class="btn btns" href="{{article.url}}" target="_blank">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i> </a>
      </span>
      </p>



      
    </div>
    {% endfor %}
    
  </div>
  
  <br>
</div>
  
{% endblock %}