{% extends 'base.html' %}

{% block  content %}
<div class="container text-center">
 <form>
   <label for="search_source">Search For a Source</label> <br>
   <input placeholder="Eg aljazeera" name="search_source" id="search_source" type="text">
   <button  class="btnz px-2" type="submit">Tafuta</button>
 </form>
</div> 

  
  <div class="container">
    <div class="row justify-content-around articles-row">
    {% for source in x %}
    <div class="col-sm-12 col-md-3 article-col my-2 py-2">
      <div class="header p-2">
      <h3>{{source.name}}</h3>
      </div>
      <div class="div-body">
      <p>
        {{source.description}}
      </p>
      <p>
         Category:{{source.category}}
      </p>
    
      <a class="btns btn" href="/muhtasari/{{source.name}}">See Articles <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
    
    </div>
    
    {% endfor %}
    
    </div>
    
 
  </div>

{% endblock %}
